@model realEstateWebApp.Models.BienModel

@{
    ViewData["Title"] = "Details";
}




<div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">

                    @for (int i = 0; i < Model.ImagesDeBienUrl.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "") "></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.ImagesDeBienUrl.Count(); i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                            <img class="d-block w-100" src="@Model.ImagesDeBienUrl[i].Url" alt="@Model.ImagesDeBienUrl[i].Name">
                        </div>
                    }

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h5>@Model.TypeDeBien</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h6>@Model.TypeDeTransaction</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h6>@Model.Superficie</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.ImagesDeBienUrl[1].Url
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h6>@Model.Prix</h6>
                </div>
            </div>

            <hr />
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>

        </div>
    </div>


    <hr />


</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>