@model IEnumerable<realEstateWebApp.Models.BienModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="search"> Filter </label>
        <select class="form-control" name="search">
            <option>Choisissez le type de bien</option>
            <option>Terrain</option>
            <option>Maison</option>
            <option>Appartement</option>
        </select>
        <input type="submit" value="Filtrer" class="btn-primary" />
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card md-4 shadow-sm">
                    <img src="@item.ImageDeBienUrl"/>
                    <div class="card-body">
                        <h3 class="card-Bien">@Html.DisplayFor(modelItem => item.TypeDeBien)</h3>
                        <h3 class="card-Transaction">@Html.DisplayFor(modelItem => item.TypeDeTransaction)</h3>
                        <h3 class="card-Prix">@Html.DisplayFor(modelItem => item.Prix)</h3>
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>
        
